<div class="w-full border-none flex flex-row justify-between items-center pl-4 pr-0 py-4">
    <span class="font-bold">{{@contact.name}} {{@contact.lastname}}</span>

    {{!-- Dropdown section --}}
    <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-outline border-none hover:bg-gray-200">
            <svg class="h-6 w-6 text-gray-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="12" cy="12" r="1" />  <circle cx="12" cy="19" r="1" />  <circle cx="12" cy="5" r="1" /></svg>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 text-black">
            {{!--<li class="cursor-pointer flex flex-row justify-between items-center w-full hover:bg-gray-200 rounded-none">
                <span class="hover:bg-gray-200">Share</span>
                <span class="hover:bg-gray-200"><svg class="h-6 w-6 text-gray-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="6" cy="12" r="3" />  <circle cx="18" cy="6" r="3" />  <circle cx="18" cy="18" r="3" />  <line x1="8.7" y1="10.7" x2="15.3" y2="7.3" />  <line x1="8.7" y1="13.3" x2="15.3" y2="16.7" /></svg></span>
            </li>
            <li class="cursor-pointer flex flex-row justify-between items-center w-full hover:bg-gray-200 rounded-none">
                <span class="hover:bg-gray-200">Block</span>
                <span class="hover:bg-gray-200"><svg class="h-6 w-6 text-gray-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="12" cy="12" r="9" />  <line x1="9" y1="12" x2="15" y2="12" /></svg></span>
            </li>--}}
            <li class="cursor-pointer flex flex-row justify-between items-center w-full hover:bg-gray-200 rounded-none" {{ on "click" (fn @removeAction @contact.id)}}>
                <span class="hover:bg-gray-200">Remove</span>
                <span class="hover:bg-gray-200"><svg class="h-6 w-6 text-gray-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="4" y1="7" x2="20" y2="7" />  <line x1="10" y1="11" x2="10" y2="17" />  <line x1="14" y1="11" x2="14" y2="17" />  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg></span>
            </li>
        </ul>
    </div>
</div>