{{page-title "Home"}}

<div class="h-scren w-screen flex">
    <OptionsMenu></OptionsMenu>
    <div class="w-1/4 bg-gray-100">
        {{outlet}}
    </div>
    <div class="bg-white flex-1 grow ">
        <ChatWindow />
    </div>
</div>