{{page-title "Login"}}

<div class="grid justify-items-center content-center h-screen w-screen">
    <div class="text-lg font-bold">SMS CHAT - EMBER JS</div>
    <div class="text-base">Sign in to continue</div>
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <form {{on "submit" this.verifyUser}}>
                {{!-- Email input --}}
                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text font-bold">Email</span>
                    </label>
                    <label class="input-group w-full">
                        {{!-- Icon --}}
                        <span><svg class="h-6 w-6 text-black"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <rect x="3" y="5" width="18" height="14" rx="2" />  <polyline points="3 7 12 13 21 7" /></svg></span>

                        <Input type="email" placeholder="Enter your email" class="input input-bordered w-full" @value={{this.email}} required/>
                    </label>
                </div>

                {{!-- Password input --}}
                <div class="form-control">
                    <i class="fa-brands fa-ember"></i>
                    <label class="label">
                        <span class="label-text font-bold">Password</span>
                        <a class="link link-hover">Forgot your password?</a>
                    </label>
                    <label class="input-group">
                        {{!-- Icon --}}
                        <span><svg class="h-6 w-6 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="3" y="11" width="18" height="11" rx="2" ry="2" />  <path d="M7 11V7a5 5 0 0 1 10 0v4" /></svg></span>

                        <Input type="password" placeholder="Enter your password" class="input input-bordered w-full" @value={{this.password}} required/>
                    </label>
                </div>

                <div class="card-actions justify-center my-5">
                    <button class="btn btn-primary w-full" type="submit">Sign in</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="text-base">&copy;2022 Crafted with <i><svg class="h-6 w-6 text-red-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M12 20l-7 -7a4 4 0 0 1 6.5 -6a.9 .9 0 0 0 1 0a4 4 0 0 1 6.5 6l-7 7" /></svg></i> by DCNEARSHORE</div>
</div>