<div class="m-0 p-0 flex flex-col justify-center">
    <div class="text-center flex justify-center">
        <img src="/img/not-found.png" alt="Not found image" height="400" width="400">
    </div>
    <h1 class="text-center text-5xl font-bold">Page not found</h1>
    <div class="w-full text-center my-8">
        <button class="btn btn-primary px-4" type="button" {{ on 'click' this.redirectToMainPage }}>Return to main page</button>
    </div>
</div>